<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All comments</title>
  </head>
  <body>
    <h1>All comments</h1>
    <ul>
      <% for(i of comments) {%>
      <li>
        <%= i.comment %> - <b><%= i.userName %></b
        ><a href="/comments/<%= i.id %>">details</a>
      </li>
      <% } %>
    </ul>
    <a href="/comments/new">New Comment</a>
  </body>
</html>
