.container {
  background-color: #d8bfd8;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  width: 50%;
  padding: 2rem;
}

.img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.clearBtn {
  background-color: #c646c6;
  width: 10rem;
  border-width: 0;
  color: #ffffff;
  border-radius: 0.25rem;
  padding: 0.2rem;
}
