<%- include("partials/head.ejs")%>
<body>
    <%-include("partials/nav.ejs")%>
    <h1 class="text-primary">List of Constructors in F1</h1>
    <ul>
        <% for(let i=0; i<teams.length; i++){ %>
            <li><%= teams[i]%></li>
        <% } %>
    </ul>
</body>
</html>