<%- include("partials/head")%>
  <body>
    <%- include("partials/nav.ejs")%>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      ducimus ab nobis praesentium voluptate repudiandae possimus esse dolorem
      consectetur provident consequatur error delectus libero dolorum quisquam,
      necessitatibus temporibus id minus.
    </p>
  </body>
</html>
