<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random</title>
  </head>
  <body>
    <h1>Your random number is: <%= rand%></h1>
    <% if(rand%2===0){%>
    <h3>The number is even</h3>
    <%} else { %>
    <h3>The number is odd</h3>
    <%}%>
  </body>
</html>
