<%- include("partials/head.ejs")%>
  <body>
    <%- include("partials/nav.ejs")%>
    <h1>Your random number is: <%= rand%></h1>
    <% if(rand%2===0){%>
    <h3>The number is even</h3>
    <%} else { %>
    <h3>The number is odd</h3>
    <%}%>
  </body>
</html>
