<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Product</title>
  </head>
  <body>
    <h1>Enter the details of the new product</h1>
    <form action="/products" method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="enter name of the product"
      />
      <br />
      <label for="name">Price</label>
      <input
        type="number"
        name="price"
        id="price"
        placeholder="enter price of the product"
      />
      <br />
      <label for="category" value="category">Select category</label>
      <select id="category">
        <option value="fruit">fruit</option>
        <option value="vegetable">vegetable</option>
        <option value="dairy">dairy</option>
      </select>
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
